/* styles for RightView */

div#info {
  background-color: whitesmoke;
  width: 33.33vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square-display {
  flex-grow: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.edit-form {
  flex-grow: 1;
  border: 1px solid grey;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-row label {
  margin-right: 10px;
}

.edit-form input {
  width: 100px;
}

.edit-form input:focus {
  outline: 2px solid blue; /* Change 'blue' to any specific color code if needed */
}

input:focus.input-error {
  outline: 2px solid red; /* Change 'red' to any specific color code if needed */
}

.input-error {
  border: 2px solid red;
}
